<form class="form-signin">
    <h2 class="form-signin-heading">Sign In</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
       <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
       <label for="inputPassword" class="sr-only">Password</label>
       <input name="password"  [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
   <button class="btn btn-lg btn-primary btn-block" (click) = "validateLogin()" type="button">Login</button>
</form>

<button (click) = "goRegister()" >Register</button>